.titulo {
    font-size: 1rem;
    text-align: center;
}

section.formulario {
    width: 100%;
}

form.formulario {
    margin: auto 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    border-radius: 1rem;
}

label {
    margin-top: 10px;
    display: block;
    color: seagreen;
    font-size: 20px;
    font-weight: 500;
}
input {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: beige;
}

button {
    width: 80%;
    margin-top: 20px;
    padding: 10px;
    background-color: seagreen;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

button:hover {
    background-color: rgb(32, 77, 52);
}

textarea {
    background-color: beige;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    width: 90%;
    min-height: 100px;
    resize: none;
    overflow: hidden;
}