html {
    box-sizing: border-box;
    font-size: 62,5%;
}

*,*::before,*::after {
    box-sizing: inherit;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}